{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json", "tsconfig.dev.json"],
    "sourceType": "module"
  },
  "ignorePatterns": ["*.js", "*.d.ts"],
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "constructor-super": "error",
    "for-direction": "off",
    "quotes": [
      "error",
      "double",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ],
    "no-undef": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "SequenceExpression",
        "message": "The comma operator is confusing and a common mistake. Don’t use it!"
      }
    ],
    "import/no-unresolved": 0,
    "object-curly-spacing": ["error", "always"],
    "no-unused-vars": ["error", { "args": "none" }],
    "no-unused-expressions": "error",
    "no-useless-escape": "error",
    "no-param-reassign": "error",
    "no-shadow": "error",
    "no-unreachable-loop": "error",
    "max-len": ["error", { "code": 120 }],
    "no-empty-function": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-unexpected-multiline": "error",
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "quote-props": ["error", "as-needed"],
    "space-before-function-paren": ["error", "never"],
    "require-yield": "error",
    "require-jsdoc": "off",
    "curly": "error",
    "object-curly-newline": ["error", { "multiline": true }],
    "comma-style": "error",
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "indent": [2, 2],
    "no-var": "error",
    "require-await": "error",
    "no-restricted-globals": "error",
    "no-return-await": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
